.nav-bar {
  width: 100vw;
  height: 50px;
  background-color: aquamarine;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product .product__image img {
  width: 100%;
  height: 100%;
}
